@charset "utf-8";
	.left
{
	background : -moz-linear-gradient(7.79% -9.49% -19.55deg,rgba(73, 162, 139, 1) 0%,rgba(11, 143, 189, 1) 100%);
	background : -webkit-linear-gradient(-19.55deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	background : -webkit-gradient(linear,7.79% -9.49% ,102.01% 51.3% ,color-stop(0,rgba(73, 162, 139, 1) ),color-stop(1,rgba(11, 143, 189, 1) ));
	background : -o-linear-gradient(-19.55deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	background : -ms-linear-gradient(-19.55deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49A28B', endColorstr='#0B8FBD' ,GradientType=0)";
	background : linear-gradient(109.55deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	position : absolute ;
	left : 480px;
	top : 0px;
	width : 479px;
	height : 263px;
	border-radius : 0px;
	-moz-border-radius : 0px;
	-webkit-border-radius : 0px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49A28B',endColorstr='#0B8FBD' , GradientType=1);
}
.top
{
	background : -moz-linear-gradient(1047.8% -86.72% -89.72deg,rgba(73, 162, 139, 1) 0%,rgba(11, 143, 189, 1) 100%);
	background : -webkit-linear-gradient(-89.72deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	background : -webkit-gradient(linear,1047.8% -86.72% ,1048.83% -23.08% ,color-stop(0,rgba(73, 162, 139, 1) ),color-stop(1,rgba(11, 143, 189, 1) ));
	background : -o-linear-gradient(-89.72deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	background : -ms-linear-gradient(-89.72deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#49A28B', endColorstr='#0B8FBD' ,GradientType=0)";
	background : linear-gradient(179.72deg, rgba(73, 162, 139, 1) 0%, rgba(11, 143, 189, 1) 100%);
	position : absolute ;
	left : 0px;
	top : 346px;
	width : 61px;
	height : 203px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49A28B',endColorstr='#0B8FBD' , GradientType=1);
}
