body {
  background-image: url('../images/background.jpg');
}

#root {
  padding-top: 80px; 
  padding-bottom: 50px; 
}

#rightSidebar {
  padding: 80px 0px 50px 0px; 
}

.club-banner {
  margin: 10px;
  text-align: center
}

.club-banner-image {
  height: 200px;
  width: 200px;
  box-shadow: gray 0px 0px 20px;
  border-radius:50%;
}

.club-title {
  text-align: center;
  text-shadow: gray 2px 2px 5px;
}

.nav-link, .navbar-brand {
  outline: none;
}

.footer {
  text-align-last: center;
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: #343a40;
  color: gray;
  padding: 10px;
}

.right-div-box {
  border: #343a40 2px solid;
  border-radius: 10px;
  margin:0px 10px 20px 10px;
  background-color: white;

}

.right-div-box-title {
  background-color: #343a40;
  border-radius: 4px 4px 0px 0px;
  color: white;
  padding: 7px 10px;
  font-size: 20px;
  font-weight: bold;
}

.right-div-box-content {
  padding: 5px;
}

.social-icon {
  outline: none;
  transition: transform 200ms, box-shadow 200ms;
}

.social-icon:hover {
  transform: scale(1.1);
  text-shadow: #343a40 2px 1px 10px;
}

.social-icon-bar{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.event-list-tile {
  margin: 1px;
  transition: box-shadow 200ms,background-color 200ms;
}

.event-list-tile:hover {
  box-shadow: #343a40 1px 1px 2px; 
  cursor: pointer;
  background-color: #f3f3f3;
}

.event-list-tile img{
  height: auto;
  width: 100%;
  background-size: fixed;
}

.event-list-tile-content {
 
}

.event-list-tile-content .title{
  font-weight: bold;
  font-size: 16px;
}

.event-list-tile-content .date{
  color:grey;
  font-size: 14px;
}

.card {
  margin: 5px auto 5px auto;
}