#root {
  margin-top: 10px; 
}

.club-banner {
  margin: 10px;
  text-align: center
}

.club-banner-image {
  height: 200px;
  width: 200px;
  box-shadow: gray 0px 0px 20px;
  border-radius:50%;
}

.club-title {
  text-align: center;
  text-shadow: gray 2px 2px 5px;
}

.nav-link, .navbar-brand {
  outline: none;
}

.footer {
  text-align-last: center;
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: #343a40;
  color: gray;
  padding: 10px;
}